html,
h1 {
  padding-top: 15px;
  font-size: 70px;
  color: #c72a2a;
}

h2 {
  font-size: 40px;
  color: #141e90;
  line-height: 40px;
  margin-bottom: -20px;
}

h3 {
  font-size: 32px;
  font-weight: normal;
  color: #141e90;
  margin-bottom: 15px;
}

.boxed {
  background: #c72a2a;
  opacity: 0.5;
  max-width: 130vh;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 8vh;
}

p {
  font-size: 20px;
  color: white;
}

li {
  font-size: 24px;
  color: #141e90;
}

nav {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a > img {
  height: 30px;
  width: auto;
  margin-top: 7vh;
  text-align: left;
}

nav ul li a {
  text-decoration: none;
  color: #141e90;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

li {
  display: inline;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
  color: #141e90;
  margin-top: -10px;
}

figure {
  padding-top: 66px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

br {
  display: block;
  margin: 10px 0;
}

footer {
  background: #c72a2a;
  opacity: 0.5;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

footer p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
