html,
h1 {
  font-size: 70px;
  color: #c72a2a;
}
h2 {
  font-size: 40px;
  color: #141e90;
  line-height: 15px;
}

.boxed {
  background: #c72a2a;
  opacity: 0.5;
  padding: 5px;
}

p {
  font-size: 20px;
  color: white;
}

li {
  font-size: 24px;
  color: #141e90;
}

nav {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a > img {
  height: 30px;
  width: auto;
  margin-top: 7vh;
  text-align: left;
}

nav ul li a {
  text-decoration: none;
  color: #141e90;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

li {
  display: inline;
}
